@mixin full {
  width: 100%;
  height: 100%;
}

@mixin text-center {
  text-align: center;
}

@mixin text-right {
  text-align: right;
}

@mixin center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-cover {
  @include full;
}

@mixin caption {
  padding: $large-padding;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 2em;
  position: absolute;
  letter-spacing: 5px;
  width: auto;
  bottom: 0px;
  left: 10px;
  z-index: 10;
  @include text-center;
  color: rgba($grey,0.8);
}

@mixin main-text {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  h1, h2 {
    font-weight: inherit;
    font-size: $big;
    font-style: italic;
    letter-spacing: 0.3em;
    line-height: 1.5em;
    margin: 0;
  }
}

@mixin sloganletters {
  font-weight: 800;
  font-size: $extra-big;
  font-style: italic;
  letter-spacing: 0.8em;
  line-height: 1.5em;
  h2 {
    margin: 0;
  }
}

@mixin main-text-mobile {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  h1, h2 {
    font-weight: inherit;
    font-size: $semi;
    font-style: italic;
    letter-spacing: 0.3em;
    line-height: 1.5em;
  }
}

@mixin sloganletters-mobile {
  font-weight: 800;
  font-size: $normal;
  font-style: italic;
  letter-spacing: 0.3em;
  line-height: 1.5em;
  h2 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@mixin transition{
  transition: all 0.6s ease-out;
}